* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
}

header>a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
}

nav>a {
    color: black;
    text-decoration: none;
    margin: 0rem .75rem;
    color: white;
}

.jumbotron-container {
    height: 80vh;
    background-color: #FEC750;
    background-image: url("./table.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7rem;
    align-items: center;
    z-index: -100;
}

.jumbotron-container>h1 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    max-width: 30rem;
    /* background-color: red; */
}

.jumbotron-container>sub {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    font-weight: bold;
    letter-spacing: 1px;
}

.jumbotron-container>button {
    margin: .5rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    color: white;
    border: rgb(255, 255, 255) 2.5px solid;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
    width: 12rem;
    height: 2.5rem;
}

.most-ordered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.card>img {
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.card>h3 {
    font-size: 1rem;
    height: 1.5rem;

}

.card>sub {
    font-size: .9rem;
}

.most-ordered>button {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    font-weight: bold;
    color: black;
    border: rgb(0, 0, 0) 2.5px solid;
    width: 12rem;
    height: 2.5rem;
    background-color: white;
}

.card-container {
    margin-top: 2rem;
    display: flex;
    width: 700px;
    /* background-color: red; */
    justify-content: space-between;
}

.card {
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card>sub {
    text-align: center;
    color: rgb(25, 50, 55);
}


.card>img {
    width: 100%;
    height: 16rem;
}

.our-locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.map-embed {
    margin: 1rem;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.contact-us>h2 {
    margin: .5rem;
    /* color: rgb(25, 50, 55); */
}

.contact-us>sub {
    font-size: 1rem;
    color: rgb(25, 50, 55);
}

.contact-us li {
    list-style: none;
    margin: 1rem;
    background-color: rgb(229, 229, 229);
    color: rgb(25, 50, 55);
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: rgb(25, 50, 55);
    margin-bottom: 1rem;
}

@media only screen and (max-width: 300px) {
    header a {
        font-size: .75rem;
    }

    header>nav {
        display: none;
    }

    .jumbotron-container>h1 {
        font-size: 1.5rem;
        width: 14rem;
    }

    .jumbotron-container>sub {
        font-size: .8rem;
        width: 15rem;
        text-align: center;
    }

    .card-container {
        /* background-color: red; */
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    iframe {
        width: 90%;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-us li {
        width: 89%;
        font-size: .7rem;
    }
}